* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e2e;
}

button {
  /* remove all default button styling */
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

#calculator-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfbd4;

  width: 50%;
  height: 60%;
  min-width: 550px;
  max-width: 550px;
  max-height: 800px;
  max-height: 800px;

  padding: 1em;
  border: 1em solid black;
}

#calculator-display-container {
  flex: 1;
  width: 100%;
  border: 1em solid orange;

  display: flex;
  justify-content: end;
  align-items: center;
}

span {
  border: 1em solid green;
}

#calculator-btn-container {
  flex: 6;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1em solid yellow;
}

#utility-container {
  flex: 1;
  border: 1em solid blue;

  display: flex;
  align-items: center;
}

#ops-container {
  flex: 5;
  border: 1em solid red;

  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

#ops-container button {
  flex: 1;
  border: 1px solid black;
  min-height: 16px;
  min-width: 16px;
  margin: 16px;
}

h1 {
  color: #fdfbd4;
}
