@import url("https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@font-face {
  font-family: "DigitalMono";
  src: url(fonts/digital-7\ \(mono\).ttf);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5c4f43;
}

button,
h1 {
  font-family: "Intel One Mono", monospace;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

button {
  font-size: 1.5em;
  color: white;
  background-color: darkslategray;

  padding: 5px;
  border: 0.2em ridge darkslategray;
  border-radius: 1px;
  box-shadow: 2px 2px 5px black;
}

#calculator-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: start;
  align-items: stretch;
  background-color: gray;

  width: 50%;
  min-width: 515px;
  max-width: 630px;
  aspect-ratio: 3 / 4;

  padding: 2em;
  border: 1em ridge darkslategray;
  border-radius: 1em;
  box-shadow: 5px 5px 8px black;
}

#calculator-btn-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* DISPLAY TEXT STYLING */

#calculator-display-container {
  background-color: greenyellow;
  border: 1em ridge darkgray;
  padding: 1em;
  overflow: hidden;
  text-wrap: nowrap;

  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
}

#calculator-display-container span {
  font-family: "DigitalMono", sans-serif;
  font-size: 2em;
}

/* HEADER UTIL STYLING */

#header-operators {
  display: flex;
  align-items: center;
  gap: 1em;
}

#utility-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

#utility-container button {
  flex: 1;
}

#logo {
  flex: none;
}

/* OPS CONTAINER STYLING */

#ops-container {
  flex: 2;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 1em;
}

#ops-container button {
  width: 25%;
}

#ops-container .double {
  width: 63%;
}
